@model Nop.Web.Models.Catalog.ProductDetailsModel

@using Nop.Web.Framework.Localization

{
    NopHtml.AppendCssFileParts("/Plugins/Widgets.AskVendor/Content/css/style.css");
    NopHtml.AppendCssFileParts("/Plugins/Widgets.AskVendor/Content/css/modaal.css");

@*    NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.AskVendor/Content/js/askvendor.js");
*@    NopHtml.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/Widgets.AskVendor/Content/js/modaal.js");

}
<div class="ask-vendor">
    <button type="button" id="ask-vendor-button" class="button-1 add-to-cart-button ask-vendor-button primary-btn modaal"
    data-modaal-content-source="#askvendor" data-modaal-type="inline" data-modaal-animation="fade">>
        @T("Plugin.Widgets.AskVendor.Button")
    </button>
</div>

<div id="askvendor" style="display:none;">
    <div class="ask-vendor-container">
        <div class="ask-vendor-header">
            <h2>@T("AskVendor.Title")</h2>
            <button id="askvendor-close">&times;</button>
        </div>
        <form asp-controller="AskVendor" asp-action="AskQuestion" method="post" id="ask-vendor-form">
            <input type="hidden" asp-for="@Model.VendorModel.Id" name="vendorId" />
            <input type="hidden" asp-for="@Model.Id" name="productId" />
            <div class="form-group">
                <label for="Subject">@T("AskVendor.Subject"):</label>
                <input type="text" class="form-control" id="Subject" name="subject" required />
            </div>
            <div class="form-group">
                <label for="Message">@T("AskVendor.Message"):</label>
                <textarea class="form-control" id="Message" name="message" rows="4" required></textarea>
            </div>
            <button id="buttonaskvendor" onclick="askvendorfunc()" type="button" class="button-1 send-question-to-customer-button primary-btn">@T("AskVendor.SubmitButton")</button>
        </form>
    </div>
</div>

<script>

    function askvendorfunc(){
        var postData = {
             vendorId:1,
             productId:18
        };

        $.ajax({
            url: '@Url.Action("AskQuestion", "AskVendor")',
            type: "POST",
            data: postData,
            dataType: 'json',
            beforeSend: function () {
                console.log("AJAX request about to be sent");
            },
            success: function () {
                console.log("Form başarıyla gönderildi");
                document.getElementById("askvendor").style.display = "none";
                console.log("Modal başarıyla kapatıldı");
            },
            error: function (error) {
                console.error("Form gönderilirken hata oluştu:", error);
            },
            complete: function () {
                console.log("AJAX request completed");
            },
        });
    }

</script>



